@model DiabetesTrackerASPAplikacija.Models.Terapija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Terapija</h4>
    <hr />
    <dl class="dl-horizontal">
        <!--<dt>
            @Html.DisplayNameFor(model => model.Korisnik.TipDijabetesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.TipDijabetesa)
        </dd>
            -->
        <dt>
            @Html.DisplayNameFor(model => model.Lijekovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lijekovi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DozaLijeka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DozaLijeka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
