@model DiabetesTrackerASPAplikacija.Models.Korisnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipDijabetesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipDijabetesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tezina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FizickaAktivnost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FizickaAktivnost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijednostHiperglikemije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijednostHiperglikemije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijednostHipoglikemije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijednostHipoglikemije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiljaniNivoGlukoze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiljaniNivoGlukoze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonjaGranicaGlukoze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonjaGranicaGlukoze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GornjaGranicaGlukoze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GornjaGranicaGlukoze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lijekovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lijekovi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DozaLijeka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DozaLijeka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>


        <!--
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotvrdaPassworda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotvrdaPassworda)
        </dd>
            -->

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JMBG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JMBG1)
        </dd>

        <!--
    <dt>
        @Html.DisplayNameFor(model => model.Spol1)
    </dt>


    <dd>
        @Html.DisplayFor(model => model.Spol1)
    </dd>
        -->

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Podsjetnik | ", "Index", "Podsjetniks")
    @Html.ActionLink("Nalaz | ", "Index", "Nalazs")
    @Html.ActionLink("Pregledaj namirnice | ", "Index", "Namirnicas")
    @Html.ActionLink("Dnevni unos hrane | ", "Index", "UnosHranes")
    @Html.ActionLink("Dnevni unos nije hrana | ", "Index", "UnosNijeHranas")
    @Html.ActionLink("Namirnice u hrani", "Index", "NamirnicaHranaPoveznicas")
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
